DEFAULT_LLM_PROVIDER = 'groq'

# https://developers.openai.com/api/docs/models
OPENAI_API_KEY = ''
OPEANI_MODEL = 'gpt-5.6-luna'

# https://platform.claude.com/docs/en/models/overview
ANTHROPIC_API_KEY = ''
ANTHROPIC_MODEL = 'claude-haiku-4-5-20251001'

# https://ai.google.dev/gemini-api/docs/pricing
GOOGLE_API_KEY = ''
GOOGLE_MODEL = 'gemini-2.5-flash-lite'

# https://console.groq.com/docs/models
GROQ_API_KEY = ''
GROQ_MODEL = 'openai/gpt-oss-20b'